/1-Introduction 1..3-3bc2_v2.pptx
/assignment6.txt
/Chapter 1 - Introduction .pptx
/Chapter 1.ppt
/Chapter 2.pptx
/Chapter 4.pptx
/desktop.ini
/Facebook.lnk
/Firefox.lnk
/GitHub Desktop.lnk
/Instagram.lnk
/leen
/leen2
/Messenger.lnk
/Microsoft Teams.lnk
/NVIDIA_app_v11.0.4.159.exe
/oop 1 intro.pptx
/Skype for Business 2016.lnk
/Snapchat.lnk
/Twitter.lnk
/Visual Studio Code.lnk
/WhatsApp.lnk
/Zoom Workplace.lnk
/مناهج البحث العلمي مجموعه- 9 (3).pptx